{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'django.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="mb-5">
                <a class="btn" href="/admin">Admin</a>
                {% if ready_to_work is False %}
                    <a href="{% url 'userprofile:stop_pontaj' %}" class="btn btn-danger">Oprire pontaj</a>
                {% else %}
                    <a href="{% url 'userprofile:start_pontaj' %}" class="btn btn-success">Pornire pontaj</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'locations:lista_locatii' %}">Locatii</a>
                    <a class="btn btn-primary" href="{% url 'companies:list_companies' %}">Companii</a>
                    <a class="btn" href="{% url 'logout' %}">Logout</a>
                {% endif %}

            </nav>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
